In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('D3.csv')
df.head() # To get first n rows from the dataset default value of n is 5

        0.0  3.4399999999999999  0.44000000000000039  4.387545011044053
0  0.040404            0.134949             0.888485           2.679650
1  0.080808            0.829899             1.336970           2.968490
2  0.121212            1.524848             1.785455           3.254065
3  0.161616            2.219798             2.233939           3.536375
4  0.202020            2.914747             2.682424           3.815420

In [18]:
x1 = df.values[:, 0] # get input values from first column
x2 = df.values[:, 1]
x3 = df.values[:, 2]
y = df.values[:, 3] # get output values from third column for "Y" output
m = len(y) # Number of training examples

print('x1 = ', x1[: 5]) 
print('x2 = ', x2[: 5]) 
print('x3 = ', x3[: 5]) 
print('Y = ', y[: 5]) 
# print('m = ', l[: 5])

x1 =  [0.04040404 0.08080808 0.12121212 0.16161616 0.2020202 ]
x2 =  [0.13494949 0.82989899 1.52484848 2.21979798 2.91474747]
x3 =  [0.88848485 1.3369697  1.78545455 2.23393939 2.68242424]
Y =  [2.6796499  2.96848981 3.25406475 3.53637472 3.81541972]